<html>
    <head>
        <title>
            todo list
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>


    </head>
    <body>
        <h1>my to do list</h1>
    <div id="todo-table">
        <form>
            <input type="text" name="item" placeholder="add a new item"required>
            <button type ="submit">add item</button>
        </form>
        <ul>
            <li>
              item 1  
            </li>
            <li>
                item 2 
              </li>
              <li>
                item 12 
              </li>
        </ul>

    </div>
    </body>
</html>